##ignore all ss.exe files
#*.exe

## ignore all .Rdata files
*.Rdata

## ignore all temp files
~*
*.tmp
## only keep input and output agepro files

*.xx1
*.xx2
*.xx3
*.xx4
*.xx5
*.xx6
*.xx7
*.xx8
*.xx9
*.xx10



##ignore all confidential files
